.container {
  margin: 30px 0px;

  .divider {
    width: 60%;
    margin: 20px auto;
  }

  .copyright {
    flex: 1;
    color: #000000;
    text-align: center;
  }

  .icons {
    text-align: center;

    .icon {
      display: inline-block;
      width: 50px;
      color: black;
      font-size: 1.7em;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: #9E170B;
      }
    }
  }
}
