.container {
  display: inline-block;
  width: 25%;
  padding: 15px;
  vertical-align: top;
  text-decoration: none;

  &:hover {
    * { color: #9E170B; }
    .tag {
      color: #2F2F2F;
    }
  }

  @media (max-width: 1350px) {
    width: 50%;
  }

  @media (max-width: 750px) {
    width: 100%;
  }
}

.imageContainer {
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
}

.featuredImage {
  width: 100%;
  max-width: 100%;
  margin: 0px;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(.26,.6,.51,.55);

  &:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.title {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 600;
  color: #2F2F2F;
}

.excerpt {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 100;
  color: #292929;
}

.tags {
  margin-top: 6px;
}

.tag {
  padding: 5px 20px;
  color: #2F2F2F;
  background-color: #d8b782;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  margin-right: 5px;

  //&:hover {
  //  background-color: #cdc2f1;
  //}
}